name: Build with Local Inspect

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build & Inspect Splunk App
        uses: VatsalJagani/splunk-app-action@v5
        with:
          app_dir: ControlPane
          local_app_inspect: true
