name: build-test-release

on: 
  push: 
    branches: 
      - main
      - 'ex*'
    tags: 
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install splunk-add-on-ucc-framework splunk-packaging-toolkit

      - name: Build the app using UCC
        run: ucc-gen build

      - name: Package the app
        run: |
          mkdir -p app-dir
          ucc-gen package --path output/ControlPane -o app-dir/

      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-package
          path: app-dir
