name: Build with Local Inspect

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Splunk App Build & Inspect
        uses: VatsalJagani/splunk-app-action@v5
        with:
          app-path: controlpane
          local_app_inspect: true
