            - name: Generate App Build, App Inspect Check and Splunk App Utilities
  # You may pin to the exact commit or the version.
  # uses: VatsalJagani/splunk-app-action@691314d5d323a10c4f8e741c07d2766f6dd7c4e4
  uses: VatsalJagani/splunk-app-action@v4
  with:
    # Provide app directory inside your repository. Do not provide the value if the repo's root directory itself if app directory.
    app_dir: # optional, default is .
    # Whether to apply file and folder permission changes according to Splunk App Inspect expectation before generating the build.
    to_make_permission_changes: # optional
    # Use ucc-gen command to generate the build for Add-on. The 'app_dir' folder must have a sub-folder named 'package', and a file named 'globalConfig.json' for this to work.
    use_ucc_gen: # optional
    # Whether to perform the Splunk app-inspect checks or not. This would include cloud-inspect checks as well.
    is_app_inspect_check: # optional, default is true
    # Username required to call the Splunkbase API for App-Inspect. Required when is_app_inspect_check is set to true.
    splunkbase_username: # optional
    # Password required to call the Splunkbase API for App-Inspect. Required when is_app_inspect_check is set to true. Strongly recommend to use via GitHub secrets only and specify like `{{secrets.MY_SPLUNK_PASSWORD}}`.
    splunkbase_password: # optional
    # Add comma separated list of utilities to use. You need to enable read and write permission for workflow to create Pull Requests. Valid options: whats_in_the_app, logger, splunk_python_sdk, common_js_utilities, ucc_additional_packaging
    app_utilities: # optional, default is 
    # GitHub Secret Token to automatically create Pull request. (Make sure to put it in the Repo secret on GitHub as `MY_GITHUB_TOKEN` and then use it like `{{ secrets.MY_GITHUB_TOKEN }}`. Do not write it in plain text.) Only required if app_utilities is being used.
    my_github_token: # optional, default is NONE
    # Log files prefix. Only required for logger utility.
    logger_log_files_prefix: # optional, default is NONE
    # Sourcetype for the internal app logs. Required only for logger utility.
    logger_sourcetype: # optional, default is NONE
  
